aiohappyeyeballs==2.7.1
aiohttp==3.14.1
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
attrs==26.1.0
bcrypt==5.0.0
certifi==2026.6.17
charset-normalizer==3.4.7
click==8.4.1
fastapi==0.136.3
frozenlist==1.8.0
geoip2==5.2.0
h11==0.16.0
httptools==0.8.0
idna==3.16
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
maxminddb==3.1.1
multidict==6.7.1
pillow==12.2.0
propcache==0.5.2
psycopg==3.3.4
psycopg-binary==3.3.4
psycopg-pool==3.3.1
pydantic==2.13.4
pydantic-settings==2.14.1
pydantic_core==2.46.4
python-dotenv==1.2.2
python-multipart==0.0.29
PyYAML==6.0.3
qrcode==8.2
requests==2.34.2
-e git+ssh://git@github-shorturl/sdutechsolutions-arch/shorturl.git@b8ca084d73653d67030583ef199fad168ea9efe8#egg=shorturl
starlette==1.1.0
typing-inspection==0.4.2
typing_extensions==4.15.0
ua-parser==1.0.2
ua-parser-builtins==202606
urllib3==2.7.0
user-agents==2.2.0
uvicorn==0.48.0
uvloop==0.22.1
watchfiles==1.2.0
websockets==16.0
yarl==1.24.2
